.root{
    -fx-background-color: transparent;
}
.table-view .filler{
    -fx-background-color: #26A69A;
}
.table-view .column-header,
.table-view .column-header .filler,
.table-view .column-header-background .filler {
    -fx-background-color: #26A69A;
    -fx-text-fill: WHITE;
}

.table-view .column-header .label{
    -fx-alignment:CENTER;
    -fx-text-fill: WHITE;
}

.tab{
    -fx-background-color: WHITE;
}


.tab-pane .tab-header-area .tab-header-background {
    -fx-opacity: 0;
}

.tab-pane
{
    -fx-tab-min-width:268px;
}

.tab{
    -fx-background-insets: 0 1 0 1,0,0;
}
.tab-pane .tab
{
    -fx-background-color: #004D40;

}

.border-pane{
    -fx-background-radius: 17px;
    -fx-background-color: #004D40;
}

.tab-pane .tab:selected {
    -fx-background-color: #26A69A
}

.tab .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: WHITE;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}

.table-view .table-cell {
    -fx-text-alignment: CENTER;
}

.button {
    -fx-background-color: #26A69A;
    -fx-background-radius: 15px;
}

.button:hover{
    -fx-background-color: #1E857B;
}

#btnClose{
    -fx-background-color: #D22222;
    -fx-text-fill: #fafafa;
    -fx-background-radius: 0px 14px 0px 8px;
    -fx-font-size: 1em;
}

#btnClose:hover{
    -fx-background-color: #C22222;
    -fx-text-fill: #fafafa;
}

.top-bar{
    -fx-background-color: #004D40;
    -fx-background-radius: 15px 15px 0 0;
}

.table-row-cell{
    -fx-border-width: 1px;
    -fx-border-color: transparent transparent #E2E2E2 transparent;
    -fx-background-color: #fafafa;
    -fx-padding: 0.0em;
}

.table-row-cell:focused:hover{
    -fx-background-color: #26A69A;
    -fx-text-background-color: #FFF;
    -fx-text-fill: WHITE;
}

.table-row-cell:focused{
    -fx-background-color: #26A69A;
    -fx-text-background-color: #fafafa;
}

.table-row-cell:hover{
    -fx-background-color: #4DB6AC;
    -fx-text-background-color: #fafafa;
}

